html,
body {
    width: 100%;
    padding: 1.5%;
    height: 100%;
    font-family: 'Helvetica', serif !important;
    color: #393939;
    font-size: 16px;
    background-color: #EBECF0;
    text-align: center;
}

.prokrutka {
    width: 100%;
    height: 517px;
    overflow-y: scroll;
    color: #393939;
    border-radius: 20px;
    transition: all 1.9s ease-in-out;
}

.link {
    color: blue;
    text-decoration: none;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
}

.modal-footer .btn-secondary:hover {
    background-color: #5a6268;
}

.btn {
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: -5px -5px 12px #FFF, 5px 5px 12px #BABECC;
    background: linear-gradient(145deg, #3595ff, #007cff);
    cursor: pointer;
    border: 0;
    outline: 0;
    text-shadow: 1px 1px 0 #4b4b4b;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    min-height: 40px;
}

.btn:hover {
    /*background-color: #0050a9;*/
    cursor: pointer;
    box-shadow: inset 5px 5px 12px #004ea1, inset -5px -5px 12px #499cf8;
    -ms-transform: scale(0.95);
    /* IE 9 */
    -webkit-transform: scale(0.95);
    /* Safari 3-8 */
    transform: scale(0.95);
    color: white;
}

.btn:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    background: linear-gradient(145deg, #005cc1, #003a76) !important;
}

.inp {
    padding: 7px;
    /*border-width: 1px;
    border-color: rgba(104, 104, 104, 0.56);
    border-radius: 10px;
    border-style: solid;*/
    width: 100%;
    margin-bottom: 15px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 8px;
    text-shadow: 1px 1px 0 #FFF;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
}

.inp:hover {
    -ms-transform: scale(1.03);
    /* IE 9 */
    -webkit-transform: scale(1.03);
    /* Safari 3-8 */
    transform: scale(1.03);
}

.box {
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #EBECF0, #ffffff);
    transition: all 1.9s ease-in-out;
    box-shadow: 7px 7px 15px #dedede, -7px -7px 15px #ffffff;
}

/* Алерты */
.alertRed {
    padding: 10px;
    background-color: #f44336;
    color: white;
}

#container {
    position: relative;
    height: 100%;
  }
  
.alertGreen {
    padding: 10px;
    background-color: #46f436;
    color: white;
}
  
.alertYellow {
    padding: 10px;
    background-color: #f4e736;
    color: white;
}
  
.alertBlue {
    padding: 10px;
    background-color: #3659f4;
    color: white;
}

.closeBtn {
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.9s;
}
  
.closeBtn:hover {
    color: red;
}