/* Блок */
.block {
    background: #f3f3f3;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
}
  
/* (этот стилъ когда то исполъзовался...) */
.block_head {
    height: 7px;
    background-color: rgb(44, 143, 241);
    border-radius: 10px 10px 0 0
}