/* Кнопка */
.btn {
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background: linear-gradient(145deg, #3595ff, #007cff);
    cursor: pointer;
    border: 0;
    outline: 0;
    text-shadow: 1px 1px 0 #4b4b4b;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.btn:hover {
    /*background-color: #0050a9;*/
    cursor: pointer;
    box-shadow: inset 5px 5px 12px #004ea1, inset -5px -5px 12px #499cf8;
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    /* IE 9 */
    transform: scale(0.95);
    /* Safari 3-8 */
    color: white;
}

.btn:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    background: linear-gradient(145deg, #005cc1, #003a76) !important;
}

/* Для ссылок */
a {
    display: inline-block;
    color: rgb(0, 128, 255);
    text-decoration: none;
}